%h2{
        color: $text-Color2;
    text-transform: uppercase;
    font-weight: bold;
         @include Xs {
            font-size: 20px;
    
        }
    
}

%h4{
    @include Md {
                font-size: 15px;
                font-weight: bold;
            }
             @include Xs {
                font-size: 15px;
                font-weight: bold;
            }
}

%p{
    @include Md {
                font-size: 14px;
                padding-top: 15px;
                
            }
               @include Xs {
                font-size: 14px;
                padding-top: 15px;
                
            }
}