.dellivery {
    @extend .header;
}

.delli {
    @extend %sign;

    .delli-info {
        .addre {
            border: 2px solid $back-green;
            margin: auto;
            margin-top: 5px;
            padding: 19px;

            .hom {
                width: 25%;
                float: left;
            }

            .inf {
                width: 70%;
                float: left;

                span {
                    color: #000;
                }

                button {
                   @extend %button4;
                }
            }
        }
    }
}
